.back{
  background: url("./Assets/red-hearts-.avif")
}

.App {
  text-align: center;
}

.nav{
  background-color: transparent;
  height: 10vh;
  text-decoration: none;
}
.F-logo{
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-dt{
  display: flex;
  border: 1px solid red;
  width: 100%;
  gap: 70%;
  align-items: left;
  padding-left: 10px;
  margin: 10px;

}
.nav-list{
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  height: 40px;
  gap: 80px;
  margin: 10px;
  border: 1px solid red;

}

.App-body {
  background-color: transparent;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flirt{
  font-size: 25px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.crt-act{
  background-color: orangered;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}
.parent-card{
  margin: auto;
  height: 80vh;
  width: 100%;
  border: 1px solid red;
  padding: 20px;
}

.pr-data{
  background-color: aqua;
  border-radius: 10px;
  width: 30%;
  margin: auto;
  height: 80vh;
  text-align: center;

}
.login-pg{
  height: 80vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin: auto;
  background-color: aqua;
  border-radius: 10px;
}
.Htwo{
  padding: 15px;
}
.bt-logs{
  background-color: aquamarine;
  border-radius: 10px;
  width: 100px;
  margin-right: 14px;
  height: 20px;

}
.log-pg{
  padding-top: 100px;
}
.log-jp{
  margin: 0;
  left: 0;

}
.sign-pt{
  border-radius: 10px;
  width: 350px;
  padding: 5px;

}
.users{
  border:1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}
.profile {
  border: 1px solid green;
  margin:12px;
  padding: 20px;
  width: 450px;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.profile img{
  max-width: 100%;
  height: 40vh;
}
.profile:hover{
  transform: scale(1.05);
}
.likes{
  height: 25px;
  width: 70px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-size: 14px;
  transition: trasform;
}
.likes{
  transform: scale(1.05);
  cursor: pointer;
}
.like{
  background-color: red;

}
.dislike{
  background-color: greenyellow;
}

