.back{
  background: url("./Assets/valentines-day")

}

.App {
  text-align: center;
}

.nav{
  background-color: transparent;
  height: 10vh;
  text-decoration: none;
}
.F-logo{
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-dt{
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  gap: 70%;
  align-items: left;
  padding-left: 10px;
  margin: 10px;

}
.nav-list{
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: 22px;
  width: 100%;
  height: 40px;
  gap: 80px;
  margin: 10px;
  /* border: 1px solid red; */

}

.App-body {
  background-color: transparent;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flirt{
  font-size: 25px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.crt-act{
  background-color: orangered;
  font-size: 15px;
  border-radius: 10px;
  height: 30px;
  width: 150px;
  transition: transform 0.2s ease-in-out;
}
.crt-act:hover{
  transform: translateY(-5px);
}
.parent-card{
  margin: auto;
  height: 80vh;
  width: 100%;
  /* border: 1px solid red; */
  padding: 20px;
}

.pr-data{
  background-color: rgb(230, 228, 228);
  border-radius: 10px;
  width: 30%;
  margin: auto;
  height: 80vh;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.login-pg{
  height: 80vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin: auto;
  background-color: rgb(230, 228, 228);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Htwo{
  padding: 15px;
}
.bt-logs{
  background-color: aquamarine;
  border-radius: 10px;
  width: 100px;
  margin-right: 14px;
  height: 20px;

}
.log-pg{
  padding-top: 100px;
}
.log-jp{
  margin: 0;
  left: 0;
  font-size: 20px;

}
.sign-pt{
  border-radius: 10px;
  width: 350px;
  padding: 5px;
  height: 20px;
  font-size: 15px;

}
.users{
  display: flex;
  flex-direction: column;
}
.tiles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.card-user{
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  gap: 40px;

}
.sidebar{
  background-color: rgb(230, 228, 228);
  padding: 20px;
  width: 400px;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;

}
.userCard{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 400px);

}
.profile {
  margin: 12px;
  padding: 20px;
  width: 450px;
  height: 60vh;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(230, 228, 228);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.profile img{
  max-width: 100%;
  height: 40vh;
}
.profile:hover{
  transform: scale(1.05);
}
.likes{
  height: 25px;
  width: 70px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-size: 14px;
  transition: trasform 0.2s;
}
.likes{
  transform: scale(1.05);
  cursor: pointer;
}
.like{
  background-color: red;

}
.dislike{
  background-color: greenyellow;
}

.search{
  width:380px;
  height: 20px;
  background-color: rgb(31, 31, 31);
  border-radius: 30px;
  margin: 5px;
  padding: 7px;
  color: white;
  font-size: 20px;

}
.nameed{
  font-size: 20px;
  font-family: Haettenschweiler;
}

.nameed span{
  color: rgb(201, 53, 53)(246, 15, 15);
  margin-bottom: 30px;

}
#app-name{
  font-size: 30px;
}
.sort{
  margin: 10px;
}
.rd-btn{
  cursor: pointer;
  transition: transform 0.2s;
}
.rd-btn:hover{
  transform: scale(1.5);
  color: white;
}

